<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/userDetails.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <div class="mudsection_1">
        <form action="postEditUser?id=<%= data._id %>" method="post">
        <div class="mudsection_1_1">
            USER DETAILS
        </div>
        <div class="mudsection_1_2">
            ID: <%= data._id %>
        </div>
        <div class="mudsection_1_2" >
            NAME:
        </div>
        <input type="text" class="mudsection_1_3" name="fullName" value="<%= data.fullName %>">
        <div class="mudsection_1_2">
            USERNAME:
        </div>
        <input type="text" class="mudsection_1_3" name="username" value="<%= data.username %>" readonly>
        <div class="mudsection_1_2">
            EMAIL"
        </div>
        <input type="text" class="mudsection_1_3" name="email" value="<%= data.email %>" readonly>
        <div class="mudsection_1_2">
            MOBILE NUMBER:
        </div>
        <input type="text" class="mudsection_1_3" name="mobileNumber" value="<%= data.mobileNumber %>" readonly>
        <button class="greenButton alignRight">
            SAVE CHANGES
        </button>
        </form>
    </div>
    <div class="mudsection_2">
        <div class="blueButton">
            VIEW COMPLAINTS
        </div>
        <a href="userOrders?id=<%= data._id %>">
        <div class="blueButton">
            VIEW ORDERS
        </div>
        </a>
    </div>
</body>
</html>